{:paths   ["src" "data" #_"resources"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.11.1"}
           clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
           ring/ring-core                      {:mvn/version "1.9.5"}
           ring/ring-jetty-adapter             {:mvn/version "1.9.5"}}
 :aliases {:test-local {:extra-paths ["test"]
                        :extra-deps  {vvvvalvalval/scope-capture {:mvn/version "0.3.1"}}}}}
